.gdoc-nav__entry.is-active {
    color: green;
    text-decoration: none;
}

.gdoc-nav__entry:hover {
    color: green;    
    text-decoration: none;
}



:root {
    --header-background: rgb(14, 18, 30);
}

:root[color-theme=light] {
    --header-background: rgb(14, 18, 30);
}

:root[color-theme=dark] {
    --header-background: rgb(14, 18, 30);
}